.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://source.unsplash.com/BtbjCFUvBXs/1920x1080");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-masthead {
  height: 100vh;
  min-height: 500px;
  background-color: #ebeced;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
