.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

a.brand {
  text-decoration: none;
}

.row.h-100.align-items-center {
  padding-left: 1em;
}

.masthead {
  height: 70vh;
  min-height: 500px;
  background-image: url("../images/hero-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-masthead {
  height: 60vh;
  min-height: 500px;
  background-color: #ebeced;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.services-masthead {
  height: 60vh;
  min-height: 500px;
  background-image: url("../images/services-bg.jpg");
  background-color: #ebeced;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead-single {
  height: 30vh;
  min-height: 400px;
  background-color: #e2e3db;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
