.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.masthead {
  height: 70vh;
  min-height: 500px;
  background-image: url("../images/hero-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-masthead {
  height: 60vh;
  min-height: 500px;
  background-color: #ebeced;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.services-masthead {
  height: 60vh;
  min-height: 500px;
  background-image: url("../images/services-bg.jpg");
  background-color: #ebeced;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead-single {
  height: 30vh;
  min-height: 400px;
  background-color: #e2e3db;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.highlight-word {
  position: relative;
  z-index: 0;

  /* prevent the highlight from breaking since it is horizontal   */
  white-space: nowrap;
}

.highlight-word::before {
  content: "";
  background: url("https://cdn2.hubspot.net/hubfs/1951809/text-highlight.png?t=1542708765973") no-repeat center center;
  background-size: 100% auto;
  width: 108%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  transform: translate(-3%, 0);
}
