.highlight-word {
  position: relative;
  z-index: 0;

  /* prevent the highlight from breaking since it is horizontal   */
  white-space: nowrap;
}

.highlight-word::before {
  content: "";
  background: url("../images/text-highlight.png") no-repeat center center;
  background-size: 100% auto;
  width: 108%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  transform: translate(-3%, 0);
}

@include media-breakpoint-down(sm) {
  .highlight-word {
    white-space: normal;
  }

  .highlight-word::before {
    background: none;
  }
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  background: none;
}
